<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Control</title>
</head>
<style>
a.btn {
    display: inline-block;
    padding: 10px;
    border-style: solid;
    margin: 5px;
}
</style>
<body>
<a href="/robot/go/forward" class="btn"> FORWARD</a><br>
<a href="/robot/go/left" class="btn">LEFT</a> <a href="/robot/go/right" class="btn">RIGHT</a><br>
<a href="/robot/go/backward" class="btn">BACKWARD</a><br>
<br>
<a href="/robot/go/stop" class="btn">STOP</a><br>



</body>
</html>