<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Control</title>
</head>
<style>
a.btn {
    display: inline-block;
    padding: 10px;
    border-style: solid;
    margin: 5px;
}
</style>
<body>
    
    <div id="camera_stream">
        <!-- replace robot.local with the hostname or IP of your pi, but keep the :8080 bit at the end -->
        <img src="http://robot.local:8080/?action=stream" />
    </div>
    
    <div id="controls">
    
<a href="/robot/go/forward" class="btn"> FORWARD</a><br>
<a href="/robot/go/left" class="btn">LEFT</a> <a href="/robot/go/right" class="btn">RIGHT</a><br>
<a href="/robot/go/backward" class="btn">BACKWARD</a><br>
<br>
<a href="/robot/go/stop" class="btn">STOP</a><br>
</div>


</body>
</html>
